{% extends "/templates/base.html.twig" %}

{% block title %}YYC Togoland{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">YYC Togoland</h1>
        <p class="lead">Ce site sera le site officiel du Y's Youth Club Togoland. Vous serai au courant de nos activités au sein du club et surtout de notre engagement à servir la bonne cause dans la communauté.</p>
        <hr class="my-4">
        <p>Nous sommes des jeunes et nous sommes également dynamiques. Nous aspirons tous à un bon sens de responsabilité et de civisme envers nos frères et soeurs.</p>
</div>

{% endblock %}
